#container{
        height: 870px;
        width: 1660px;
        background-color:rgb(256, 211, 218);
        border-radius: 50px;
    }
    #courses{
       gap: 15%;
       display: flex;
    }
    #navbar{
        display: flex;
        gap: 25%;
    }
    #baims{
        font-family:serif;
        margin-left: 60px;
        margin-top: 10px;
        font-weight:50;
        font-size: xx-large;
    }
    #searchforanything{
        width: 500px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        background-color: transparent;
        gap: 2%;
        margin-top: 10px;
    }
    #search{
        width: 30px;
        height: 30px;
        background-color: transparent;
    }
    #applyasinstructor{
        display: flex;
        gap: 15%;
        width: 800px;
        
    }
    #signup{
        width: 150px;
        height: 40px;
        background-color: black;
        -webkit-text-fill-color: white;
        border-radius: 25px;
        margin-top: 10px;
    }
    #studyanytime{
        display: flex;
        gap: 5%;
    }
    #whereveryouare{
        font-size: xxx-large;
    }
    #anytime{
        margin-left: 60px;
    }
    #wanttolearn{
        width: 300px;
        height: 40px;
        border-radius: 25px;
        display: flex;
    }
    #landingpageimage{
        width: 600px;
        height: 600px;
        border-radius: 50px;
        object-fit: cover;
    }
    #footer{
        display: flex;
        font-size: x-large;
        gap: 15%;
        background-color: white;
        width: 1660px; 
    }
    #landingpage{
        width: 1660px;
        border-radius: 50px;
        height: 700px;
        background-color: pinkrgb(256, 211, 218);
    }
    #coursesandsubjects{
        margin-left: 150px;
    }
    #dropdownarrow{
        width: 13px;
        height: 13px;
        margin-top: 20px;
    }
    #coursesimage{
        display: flex;
        gap: 3px;
    }
    
    @media screen and (min-width:280px) and (max-width: 480px){
        #container{
            height: 750px;
            width: 100%;
            background-color:rgb(256, 211, 218);
            border-radius: 50px;
        }
        #courses{
           gap: 15%;
           display: flex;
           flex-wrap: wrap;
        }
        #navbar{
            display: flex;
            flex-wrap: wrap;
            gap: 25%;
        }
        #baims{
            font-family:serif;
            margin-top: 15px;
            font-weight:50;
            font-size:small;
        }
        #searchforanything{
            width: 200px;
            height: 20px;
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            background-color: transparent;
            gap: 2%;
            margin-top: 10px;
        }
        #search{
            width: 10px;
            height: 10px;
            background-color: transparent;
        }
        #applyasinstructor{
            display: flex;
            flex-wrap: wrap;
            gap: 15%;
            width: 100%;
            
        }
        #signup{
            width: 150px;
            height: 20px;
            background-color: black;
            -webkit-text-fill-color: white;
            border-radius: 15px;
            margin-top: 5px;
        }
        #studyanytime{
            display: flex;
            flex-wrap: wrap;
            gap: 15%;
        }
        #whereveryouare{
            font-size: xx-small;
        }
        #anytime{
            margin-left: 6px;
        }
        #wanttolearn{
            width: 200px;
            height: 20px;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;

        }
        #landingpageimage{
            width: 250px;
            height: 300px;
            margin-left: 10px;
            object-fit: cover;
        }
        #footer{
            display: flex;
            flex-wrap: wrap;
            font-size: xx-small;
            gap: 10%;
            background-color: white;
            width: 100%; 
        }
        #landingpage{
            width: 100%;
            border-radius: 50px;
            height: 700px;
            background-color: pinkrgb(256, 211, 218);
        }
        #coursesandsubjects{
            margin-left: 15px;
        }
        #dropdownarrow{
            width: 5px;
            height: 5px;
            margin-top: 5px;
        }
        #coursesimage{
            display: flex;
            flex-wrap: wrap;
            gap: 3%;
        }
    }
    @media screen and (min-width:481px) and (max-width: 768px){
        #container{
            height: 750px;
            width: 100%;
            background-color:rgb(256, 211, 218);
            border-radius: 50px;
        }
        #courses{
           gap: 15%;
           display: flex;
           flex-wrap: wrap;
        }
        #navbar{
            display: flex;
            flex-wrap: wrap;
            gap: 25%;
        }
        #baims{
            font-family:serif;
            margin-top: 15px;
            font-weight:50;
            font-size:small;
        }
        #searchforanything{
            width: 200px;
            height: 20px;
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            background-color: transparent;
            gap: 2%;
            margin-top: 10px;
        }
        #search{
            width: 10px;
            height: 10px;
            background-color: transparent;
        }
        #applyasinstructor{
            display: flex;
            flex-wrap: wrap;
            gap: 15%;
            width: 100%;
            
        }
        #signup{
            width: 150px;
            height: 20px;
            background-color: black;
            -webkit-text-fill-color: white;
            border-radius: 15px;
            margin-top: 5px;
        }
        #studyanytime{
            display: flex;
            flex-wrap: wrap;
            gap: 15%;
        }
        #whereveryouare{
            font-size: xx-small;
        }
        #anytime{
            margin-left: 6px;
        }
        #wanttolearn{
            width: 200px;
            height: 20px;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;

        }
        #landingpageimage{
            width: 250px;
            height: 300px;
            margin-left: 10px;
            object-fit: cover;
        }
        #footer{
            display: flex;
            flex-wrap: wrap;
            font-size: xx-small;
            gap: 10%;
            background-color: white;
            width: 100%; 
        }
        #landingpage{
            width: 100%;
            border-radius: 50px;
            height: 700px;
            background-color: pinkrgb(256, 211, 218);
        }
        #coursesandsubjects{
            margin-left: 15px;
        }
        #dropdownarrow{
            width: 5px;
            height: 5px;
            margin-top: 5px;
        }
        #coursesimage{
            display: flex;
            flex-wrap: wrap;
            gap: 3%;
        }
    }
    @media screen and (min-width:769px) and (max-width: 1024px){
        #container{
            height: 750px;
            width: 100%;
            background-color:rgb(256, 211, 218);
            border-radius: 50px;
        }
        #courses{
           gap: 15%;
           display: flex;
           flex-wrap: wrap;
        }
        #navbar{
            display: flex;
            flex-wrap: wrap;
            gap: 25%;
        }
        #baims{
            font-family:serif;
            margin-top: 15px;
            font-weight:50;
            font-size:small;
        }
        #searchforanything{
            width: 200px;
            height: 20px;
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            background-color: transparent;
            gap: 2%;
            margin-top: 10px;
        }
        #search{
            width: 10px;
            height: 10px;
            background-color: transparent;
        }
        #applyasinstructor{
            display: flex;
            flex-wrap: wrap;
            gap: 15%;
            width: 100%;
            
        }
        #signup{
            width: 150px;
            height: 20px;
            background-color: black;
            -webkit-text-fill-color: white;
            border-radius: 15px;
            margin-top: 5px;
        }
        #studyanytime{
            display: flex;
            flex-wrap: wrap;
            gap: 15%;
        }
        #whereveryouare{
            font-size: xx-small;
        }
        #anytime{
            margin-left: 6px;
        }
        #wanttolearn{
            width: 200px;
            height: 20px;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;

        }
        #landingpageimage{
            width: 250px;
            height: 300px;
            margin-left: 10px;
            object-fit: cover;
        }
        #footer{
            display: flex;
            flex-wrap: wrap;
            font-size: xx-small;
            gap: 10%;
            background-color: white;
            width: 100%; 
        }
        #landingpage{
            width: 100%;
            border-radius: 50px;
            height: 700px;
            background-color: pinkrgb(256, 211, 218);
        }
        #coursesandsubjects{
            margin-left: 15px;
        }
        #dropdownarrow{
            width: 5px;
            height: 5px;
            margin-top: 5px;
        }
        #coursesimage{
            display: flex;
            flex-wrap: wrap;
            gap: 3%;
        }
    }
    @media screen and (min-width:1025px) and (max-width: 1200px){
        #container{
            height: 750px;
            width: 100%;
            background-color:rgb(256, 211, 218);
            border-radius: 50px;
        }
        #courses{
           gap: 15%;
           display: flex;
           flex-wrap: wrap;
        }
        #navbar{
            display: flex;
            flex-wrap: wrap;
            gap: 25%;
        }
        #baims{
            font-family:serif;
            margin-top: 15px;
            font-weight:50;
            font-size:small;
        }
        #searchforanything{
            width: 200px;
            height: 20px;
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            background-color: transparent;
            gap: 2%;
            margin-top: 10px;
        }
        #search{
            width: 10px;
            height: 10px;
            background-color: transparent;
        }
        #applyasinstructor{
            display: flex;
            flex-wrap: wrap;
            gap: 15%;
            width: 100%;
            
        }
        #signup{
            width: 150px;
            height: 20px;
            background-color: black;
            -webkit-text-fill-color: white;
            border-radius: 15px;
            margin-top: 5px;
        }
        #studyanytime{
            display: flex;
            flex-wrap: wrap;
            gap: 15%;
        }
        #whereveryouare{
            font-size: xx-small;
        }
        #anytime{
            margin-left: 6px;
        }
        #wanttolearn{
            width: 200px;
            height: 20px;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;

        }
        #landingpageimage{
            width: 250px;
            height: 300px;
            margin-left: 10px;
            object-fit: cover;
        }
        #footer{
            display: flex;
            flex-wrap: wrap;
            font-size: xx-small;
            gap: 10%;
            background-color: white;
            width: 100%; 
        }
        #landingpage{
            width: 100%;
            border-radius: 50px;
            height: 700px;
            background-color: pinkrgb(256, 211, 218);
        }
        #coursesandsubjects{
            margin-left: 15px;
        }
        #dropdownarrow{
            width: 5px;
            height: 5px;
            margin-top: 5px;
        }
        #coursesimage{
            display: flex;
            flex-wrap: wrap;
            gap: 3%;
        }
    }
    