#container{
    height: 1000px;
    width: 1500px;
    background-color:white;
    border-radius: 50px;
    border: solid black;
    margin-left: 75px;
}
#navbar{
   gap: 15%;
   display: flex;
}
#baims{
    font-family:serif;
    margin-left: 60px;
    font-weight:50;
    font-size: xx-large;
}
#button{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    background-color: transparent;
    gap: 2%;
}
#search{
    width: 30px;
    height: 30px;
    margin-left: 6px;
    background-color: transparent;
}
#section1{
    display: flex;
    gap: 25%;
}
#section2{
    display: flex;
    gap: 15%;
}
#sign{
    width: 150px;
    height: 40px;
    background-color: black;
    -webkit-text-fill-color: white;
    border-radius: 25px;
}
#landpage{
    display: flex;
    gap: 5%;
}
#anytime{
    font-size: xxx-large;
}
#study{
    margin-left: 60px;
}
#learn{
    width: 300px;
    height: 40px;
    border-radius: 25px;
    display: flex;
}
#land{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#courses{
    display: flex;
    font-size: x-large;
    gap: 15%;
    background-color: white;
    width: 1500px;

}
#subjects{
    margin-left: 150px;
}
#upper{
    width: 1500px;
    border-radius: 50px;
    height: 700px;
    background-color: rgb(256, 211, 218);
}
@media all and (min-width:280px) and (max-width: 560px){
    #container{
        height: 800px;
        width: ;
        background-color:white;
        border-radius: 5px;
        border: solid black;
    }
    #section1{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar{
       gap: 15%;
       display: flex;
       flex-wrap: wrap;
    }
    #baims{
        font-family:serif;
        margin-left: 60px;
        font-weight:50;
        font-size: xx-small;
    }
    #button{
        width: 40%;
        height: 10px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        gap: 2%;
    }
    #search{
        width: 10px;
        height: 10px;
        margin-left: 6px;
        background-color: transparent;
    }
    #section1{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
    }
    #section2{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
    #sign{
        width: 15%;
        height: 10px;
        background-color: black;
        -webkit-text-fill-color: white;
        border-radius: 15px;
    }
    #landpage{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
    #anytime{
        font-size: xx-small;
    }
    #study{
        margin-left: 10px;
    }
    #learn{
        width: 30%;
        height: 10px;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    #land{
        width: 30%;
        height: 30%;
        object-fit: cover;
    }
    #courses{
        display: flex;
        flex-wrap: wrap;
        font-size: xx-small;
        gap: 5%;
        background-color: white;
        width: 100%;
    
    }
    #subjects{
        margin-left: 15%;
    }
    #upper{
        width: 15%;
        border-radius: 10px;
        height: 80%;
        background-color: rgb(256, 211, 218);
    }   
}